@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
b {
	color: #000;
}
.dkshk {
	font-family: 'NEXON Lv2 Gothic';
}
.nexon{
	font-family: 'NEXON Lv2 Gothic', sans-serif;
	color: rgb(255, 255, 255);
}
 body {
	background-color: #F0F0F0;
	font-family: Arial, sans-serif;
	font-size: 16px;
  }
  .container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
  }
  .section {
	margin: 40px 0;
	padding: 20px;
	background-color: #FFF;
  }
  .section h2 {
	font-size: 28px;
	margin-bottom: 10px;
  }
  .section p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
  }
    /* 모바일 뷰(Mobile) */
    @media screen and (max-width: 767px) {
		body {
		  font-size: 14px;
		}
		.container {
		  padding: 0 10px;
		}
		.section {
		  margin: 20px 0;
		  padding: 10px;
		}
		.section h2 {
		  font-size: 24px;
		  margin-bottom: 5px;
		}
		.section p {
		  font-size: 14px;
		  margin-bottom: 10px;
		}
	  }
.header {
	background: linear-gradient(to top, #09131A, #09131A 3%, transparent), url("../img/skky.png");
	background-size: auto;
	height: 250px;
	font-size: 15px;
	line-height: 200px;
	padding: 20px; /* 상단 여백 및 내부 요소 간격 설정 */
	box-sizing: border-box; /* padding을 전체 크기에 포함하도록 설정 */
	position: relative; /* 헤더를 상대적으로 위치시킴 */
}

.body {
	margin: 0;
	padding: 0;
}
/* #top_login 스타일 */
#top_login {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: white;
}

/* 로고 이미지 스타일 */
.logo {
	width: 150px; /* 로고 이미지의 너비 설정 */
	height: auto; /* 로고 이미지의 높이는 자동으로 조정 */
	float: left; /* 로고를 왼쪽으로 정렬 */
	margin-right: 20px; /* 로고와 오른쪽 여백 설정 */
}

ul, li {
	margin:0;
	padding:0;
	list-style:none;
	float: left;
	font-family: 'NEXON Lv2 Gothic';
    text-align: center;
}
html, body {
	height: 100%;
  }
  
  .wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .button {
	width: 140px;
	height: 45px;
	font-family: 'NEXON Lv2 Gothic';
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;	background-color:#eeeeee;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	}
  
  .button:hover {
	background-color: rgba(41, 42, 112, 0.4);
	box-shadow: 0px 15px 20px rgba(1, 1, 20, 0.4);
	color: #fff;
	transform: translateY(-7px);
	text-align: center;
  }
.clear { clear:both; }
S
.linespace_10 {
	height:10px;
}
.btn {
	margin: 1rem;
  
	&-jittery {
	  animation: jittery 4s infinite;
	}
  
	&-icon {
	  position: relative;
	  margin-left: 8px;
	  overflow: hidden;
  
	  i {
		position: absolute;
		top: 41%;
		left: 48%;
		transform: scale(0.75) translate(-16%, 400%);
		transition: 0.2s;
	  }
  
	  span {
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.2s;
	  }
  
	  &:hover {
		i {
		  transform: scale(0.75) translate(-16%, 0);
		}
  
		span {
		  transform: translateY(-400%);
		}
	  }
	}
}
&-open-line {
    border: none;
    transition: 0.3s;

    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--btn-bg);
      opacity: 0;
      transform: scaleX(0);
      transition: 0.4s ease-in-out;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &:hover {
      letter-spacing: 5px;
      color: var(--btn-bg);
      background: transparent;

      &::before,
      &::after {
        opacity: 1;
        transform: scaleX(1.2);
      }
    }
  }
  
#wrap {
	margin-right: auto;
	margin-left: auto;
	height: 100px;

/*	border:solid 1px #00ff00; */
}

#top_login {
	float:right;
	margin-right:0px;
}

#menu {
	margin-top:0px;
	margin-right: 50px;
}

#content {
	width:1800px;
	height: 800px;
	margin-right: auto;
	margin-left: auto;
}

#content #main_img {
	margin-top:20px;
}
#col_2 {
	width: 1800px;
	height: 700px;
	margin-top: 100px;
	text-align:center;
}
#col_2 h3 {
	width: 100px;
	text-align: center;
}
#col2 {
	width: 1200px;
	height: 700px;
	margin-top: 100px;
	margin-bottom: 50px;
	text-align:center;
}
#col_1 {
	width: 1500px;
	height: 700px;
	text-align:center;
	margin-top: 50px;
	margin-left: 200px;
}
#left_menu {
    width: 92%;
    height: 270px;
    margin-right: 7px; /* 수정: margin-left에서 margin-right로 변경 */
    float: left; /* 수정: float 속성 추가하여 좌측 상단으로 이동 */
}

#left_menu #sub_title {
    padding-top: 10px;
    height: 30px;
    border-bottom: solid 1px #dddddd;
}

#left_menu #sub_title img {
    padding-left: 10px;
    /* padding-top: 20px; */
}

#left_menu ul {
    padding-left: 5px;
    padding-top: 10px;
	margin-bottom: 100px;
    /* border-bottom:solid 1px #dddddd; */
}

#left_menu li {
    padding: 5px;
    text-align: center;
}

#latest {
	width:1000px;
}

#latest1 {
	width:46%;
	height:250px;
	float:left;
	padding-right:20px;
	margin:15px 0 0 20px;
	border-right:solid 1px #dddddd;
}

#title_latest1 {
	height:30px;
	border-bottom:solid 2px #dddddd;
}

#title_latest1 img {
	padding-bottom:5px;
}


.latest_box {
	margin-top:5px;
/*	border-bottom:dotted 1px #dddddd; */
}

.latest_box .col1 {
	width:65%;
	float:center;
	padding:5px 5px 4px 3px;
}

.latest_box .col2 {
	width:15%;
	float:left;
	padding:5px 5px 4px 3px;
}

.latest_box .col3 {
	float:left;
	padding:5px 5px 4px 3px;
}

#latest2 {
	width:46%;
	float:left;
	margin:15px 0 0 18px;
}

#title_latest2 {
	height:30px;
	border-bottom:solid 2px #dddddd;
}

#title_latest2 img {
	padding-bottom:5px;
}
.input_1{
	height: 30px;
	width: 80%;
	border: 1px solid #b4b4b4;
	border-radius: 60px;
	display: inline-block;
	size: 1;
	margin-right: 20px;
	padding: 10px;
	
}
.input_12{
	height: 20px;
	width: 90%;
	border: 1px solid #b4b4b4;
	padding: 10px;
	border-radius: 60px;
	display: block;
	size: 1;
}
.input_2{ 
	height: 45px;
	width: 20%;
	border: 1px solid #b4b4b4;
	padding: 10px 5px 0px;
	border-radius: 60px;
	display: inline-block;
	padding-bottom: 18px;
}

.input_3 {
	height: 20px;
	width: 27%;
	border: 1px solid #b4b4b4;
	padding: 10px;
	border-radius: 60px;
	display: inline-block;
	margin-right: 10px;
}
.inputta {
	display: flex;
	height: 20px;
	width: 18%;
	border: 1px solid #b4b4b4;
	padding: 10px;
	border-radius: 60px;
	display: inline-block;
	margin-right: 10px;
}
.inputt123 {
	display: flex;
	height: 20px;
	width: 50%;
	border: 1px solid #b4b4b4;
	padding: 10px;
	border-radius: 60px;
	display: inline-block;
	margin-right: 10px;
}
.inputtd {
	display: flex;
	height: 20px;
	width: 24%;
	border: 1px solid #b4b4b4;
	padding: 10px;
	padding-right: 20px;
	border-radius: 60px;
	display: inline-block;
	margin-left: 20px;
}
h3 {
	font-size: 13px;
	font-family: 'NEXON Lv2 Gothic';
	
}
h1 {
	font-family: 'NEXON Lv2 Gothic';
}
.emfdjrk {
	height: 20px;
	width: 100%;
	border: 1px solid #b4b4b4;
	padding: 10px;
	border-radius: 60px;
	display: block;
	size: 1;
}
textarea {
	font-family: 'NEXON Lv2 Gothic';
}
.cat {
	height: 30px;
	width: 1800px;
	border: 1px solid #b4b4b4;
	border-radius: 60px;
	display: inline-block;
	size: 1;
	margin-right: 20px;
	padding: 10px;
	margin-top: 8px;
}
.dog {
		height: 200px;
		width: 1660px;
		border: 1px solid #b4b4b4;
		border-radius: 30px;
		display: inline-block;
		size: 1;
		margin-right: 20px;
		padding: 10px;
		padding-left: 20px;
		padding-top: 20px;
}
input {
	font-family: 'NEXON Lv2 Gothic';
}