#content #col2 {
	width:807px;
	min-height:558px;
	float:left;
	margin-left:15px;
/*	border:solid 1px #cccccc; */
}
#title {
	margin-left: 20px;
}
#content #col2 #title{
	margin-top:30px;
	height:30px;
	border-bottom:solid 1px #cccccc;
}

/* list css */

#list_search {
	height:20px;
	margin-left: 90px;
	padding-top:10px;
	font-family: 'NEXON Lv2 Gothic';
}

#list_search #list_search1 {
	float:left;
	margin-top:2px;
	margin-right: 980px;
	font-family: 'NEXON Lv2 Gothic';
}

#list_search #list_search2 {
	float:left;
	margin-left:130px;
	margin-top:4px;
	font-family: 'NEXON Lv2 Gothic';
}


#list_search #list_search3 {
	float:left;
	margin-left:10px;
	margin-top:1px;
	font-family: 'NEXON Lv2 Gothic';
}

#list_search #list_search3 select {
	width:80px;
	height:21px;
	border:solid 1px #cccccc;
}

#list_search #list_search4 {
	float:left;
	margin-left:3px;
}

#list_search #list_search4 input {
	width:120px;
	height:18px;
	border:solid 1px #cccccc;
}

#list_search #list_search5 {
	float:left;
	margin-left:5px;
	margin-top:1px;
}
#list_top_title {
    text-align: left;
    height: 40px; /* 높이를 늘려서 각 항목이 세로로 정렬되도록 합니다. */
    width: 100%;
    border-top: solid 2px #aaaaaa;
	border-bottom: dotted 2px #aaaaaa;
    margin-bottom: 3px;
    align-items: center; /* 내부 항목들을 수직 중앙 정렬합니다. */
}


#list_top_title ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#list_top_title li {
    width: auto;
    padding-left: 5px; /* 각 항목들의 왼쪽 간격을 늘려서 정렬합니다. */
}
#list_top_title #list_title1 {
	margin-left: 140px;
}
#list_top_title #list_title2 {
	margin-right: 5px;
}
#list_top_title #list_title4 {
	margin-right: 18px;
}
#list_top_title #list_title5 {
	margin-right: 140px;
}
#list_item {
    width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
    display: flex; /* flex 컨테이너로 변경하여 항목을 세로로 정렬합니다. */
    align-items: center; /* 세로 정렬을 위해 각 항목을 가운데로 정렬합니다. */
}

#list_item ul {
    height: auto; /* 댓글 목록의 높이를 자동으로 조정하도록 변경합니다. */
    width: 100%;
    margin-top: 2px;
    padding-bottom: 8px;
    display: flex; /* flex 컨테이너로 변경하여 항목을 세로로 정렬합니다. */
    align-items: center; /* 세로 정렬을 위해 각 항목을 가운데로 정렬합니다. */
    border-bottom: dotted 1px #ccc8c8;
}

#list_item li {
    margin: 0;
    padding: 0;
    flex: 1;
    display: inline-block;
    text-align: center;
}
#list_item #list_item1 {
	margin-left: 35px;
}
#list_item #list_item2 {
	margin-right: 10px;
}
#list_item #list_item4 {
	margin-right: 20px;
}
#list_item #list_item5 {
	margin-right: 30px;
}
#page_button {
	margin-top:20px;
	margin-left: 270px;
}

#page_num {
	float:left;
	width:80%;
	margin-top:10px;
	text-align:center;
}

#button {
	float:left;
	width:18%;
	text-align:right;
}

/* write_form css */

#write_form_title {
	text-align: center;
    height: 70px; /* 높이를 늘려서 각 항목이 세로로 정렬되도록 합니다. */
    width: 1890px;
    border-top: solid 2px #aaaaaa;
	border-bottom: dotted 2px #aaaaaa;
    margin-bottom: 3px;
    align-items: center; /* 내부 항목들을 수직 중앙 정렬합니다. */
}
#write_form_title h2 {
	text-align: center;
	padding-left: 880px;
}
#write_form {
	margin-top:10px;
}

#write_form #write_row1 {
	height:50px; 
	margin:2px 0 2px 0; 
	margin-left: 20px;
}

#write_form #write_row2 {
	height: 70px;
	margin:2px 0 2px 0; 
	margin-top: 10px;
}
#write_row2 h3 {
	padding-top: 10px;
}
#write_row2 #col_2 {
	height: 400px;
	width: 1890px;
	display:inline-flex;
}
#write_form #write_row3 {
    width:1890px; 
	height:251px; 
	margin:2px 0 2px 0; 
	display: inline-flex;
}

.write_line {
    width:1890px; 
	border-bottom:solid 1px #bdbac2;
	padding-bottom: 10px;
}

#write_form .col1 {
	float:left;
	width:120px;
	text-align:center;
	padding:5px;
	display: inline-flex;
}
#write_form .col_2 {
    float: left;
    margin-left: 8px;
    margin-top: 2px;
    margin-right: 50px;
}
#write_form .col2 {
	float:left;
	margin-left: 8px;
	margin-top:2px;
	margin-right: 50px;
}

#write_form #write_row1 .col3 {
	float:left;
	display: flex;
	margin-top:4px;
	margin-left:100px;
}
#write_row2 {
	display: flex;
	height: 400px;
	width: 1900px;
}
#write_row2 input{
	width:1675px;
	border:solid 1px #cccccc;
	margin-bottom: 20px;
	display: flex;
}
#write_row3 {
	padding-top: 20px;
}
#write_row3 textarea {
	margin-bottom: 60px;
	border:solid 1px #cccccc;
}

#write_button {
	margin-top:15px;
	width:97%;
	text-align:right;
}

/* view.php css */

#view_comment {
	margin:10px 0 0 10px;
}

#view_title {

height:18px;
padding:10px 8px 20px 20px;  
padding-right: 60px;
border-top:solid 2px #aaaaaa;
border-bottom: dotted 1px #aaaaaa;
margin-bottom:5px;
width: 1860px;
height: 18px;
padding: 10px 8px 20px 20px;
border-top: solid 2px #aaaaaa;
border-bottom: dotted 1px #aaaaaa;
margin-bottom: 5px;
display: inline-flex;
}

#view_title1 {
  width: 40%;
margin-left: 200px;
}

#view_title2 {
  /* 타이틀 엘리먼트의 float 속성을 제거합니다. */
  /* float: left; */
  width: 28%;
  text-align: right;
}

.clear {
  clear: both; /* 부유(floating)한 엘리먼트 위에 있는 엘리먼트를 초기화합니다. */
}


#view_content {
	width:1870px;
	min-height:200px;
	overflow:hidden;
	line-height:150%;
	border-bottom: dotted 1px #aaaaaa;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#view_button {
	width:98%;
	text-align:right;
	margin-top:15px;
	margin-bottom:15px;
}
.button_3 {
	width: 70px;
	height: 20px;
	font-family: 'NEXON Lv2 Gothic';
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	margin-bottom: 5px;
	}
  
  .button_3:hover {
	background-color: rgba(41, 42, 112, 0.4);
	box-shadow: 0px 15px 20px rgba(1, 1, 20, 0.4);
	color: #fff;
	transform: translateY(-7px);
	text-align: center;
  }
 .inpung {
	border: 1px solid #b4b4b4;
	border-radius: 60px;
	display: inline-block;
	padding-left: 5px;
}
#reply_container {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

#reply_box {
    float: left;
    width: 70%; /* 리플 입력란이 차지하는 너비 조정 */
}

#reply_title {
	margin-top: 20px;
    font-size: 18px;
	float: left;
		font-family: 'NEXON Lv2 Gothic';
}

#reply_input textarea {
    width: 100%;
    resize: none;
}

#reply_button {
    float: left;
    width: 10%;
	margin-right: 200px;
    margin-top: 10px;
}

#ripple_box1, #ripple_input, #ripple_display {
	text-align: left;
}

#ripple_box1 {
	font-size: 18px;
	font-weight: bold;
}

#ripple_input textarea {
	width: 99.5%;
	resize: none;
}

#ripple_box2 {
	margin-top: 10px;
}

#ripple_display {
	border: 1px solid #ddd;
	padding: 10px;
	margin-top: 10px;
}

#ripple_writer_title {
    justify-content: space-between;
    align-items: center;
	margin-right: 200px;
}
li#writer_title3 {
    /* 버튼 오른쪽 정렬을 위해 필요한 CSS */
    margin-left: auto;
    display: flex;
    align-items: center;
}
.dksl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1000px;
	height: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	background-color: #e8e6eb;
	border-radius: 40px;
}

.dksl li {
	display: flex;
	align-items: center;
}

/* 수정한 부분 */
#writer_title1,
#writer_title2,
#ripple_content,
#writer_tilte3 {
	margin-right: 100px; /* 원하는 간격(px)으로 조정해주세요 */
}

/* 삭제 버튼의 간격은 놔두기 위해 작성한 부분 */
#ripple_writer_title form {
	margin-left: auto;
}

.buttonb {
	width: 50px;
	height: 20px;
	float: right;
	font-family: 'NEXON Lv2 Gothic';
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	margin-bottom: 10px;
	padding: 5px 10px;
	}
	.gkgkgk {
		width: 60px;
		height: 20px;
		font-family: 'NEXON Lv2 Gothic';
		font-size: 11px;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-weight: 500;
		color: #000;
		background-color: #fff;
		border: none;
		border-radius: 45px;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		outline: none;
		margin-bottom: 10px;
		padding: 5px 10px;
		}
	#ripple_title {
		padding-top:10px;
		padding-left:10px;
	}
	
	#ripple_title li {
		display:inline;
	}
	
	#ripple_title li#mdi_del {
		padding-left:20px;
	}
	
	#ripple_content {
		height: 28px;
	}
	
	#ripple_insert #ripple_button {
		display: inline-block;
		margin-right: 60px;
		margin-bottom: 50px;
		margin-top: 20px;
	}

	