@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.nexon{
	font-family: 'NEXON Lv2 Gothic', sans-serif;
	color: rgb(255, 255, 255);
}
#memo_row1 {
    height: 155px;
    /* border-bottom: solid 1px #dddddd; */
    text-align: center; /* 메모 작성 폼을 가운데 정렬합니다. */
	margin-right: 50px;
    margin-top: 50px; /* 메모 작성 폼을 가운데 정렬합니다. */
	color: white;
	font-family: 'NEXON Lv2 Gothic';
}

#memo1 {
    display: inline-block; /* 메모 작성 폼을 가운데 정렬합니다. */
    text-align: left; /* 메모 작성 폼 내부를 왼쪽 정렬합니다. */
}

#memo2 {
    margin-left: 5px;
	margin-top: 10px;
	font-family: 'NEXON Lv2 Gothic';
}

#memo_writer {
	margin-top:10px; 
	margin-bottom:10px; 
	margin-right: 675px;  
}

#memo1 textarea {
	border:solid 1px #cccccc;
}

#memo_writer_title {
	height:26px;
	padding-top:10px; 
	margin-bottom:10px;
	border-top:solid 1px #cccccc;
	border-bottom:dotted 1px #cccccc;
}

#memo_writer_title ul {
	margin-left:5px;
}

#memo_writer_title li {
	display:inline;
}

#memo_writer_title #writer_title2 {
	margin-left:10px;
}

#memo_writer_title #writer_title3 {
	margin-left:20px;
}

#memo_writer_title #writer_title4 {
	margin-left:540px;
}

#memo_content {
	margin-left:20px;
	width:800px;
}

#ripple {
	margin-top:20px;

/*	overflow:hidden; */
}

#ripple1 {
	float:left;
	font-weight:bold;
	text-decoration:underline;
}

#ripple2 {
	float:left;
	padding:10px;
	width:92%;
	margin-left:10px;
	background-color:#eeeeee;
}

#ripple_title {
	padding-top:10px;
	padding-left:10px;
}

#ripple_title li {
	display:inline;
}

#ripple_title li#mdi_del {
	padding-left:20px;
}

#ripple_content {
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
	border-bottom:dotted 1px #cccccc;
}

#ripple_insert {
	margin-top:10px;
}

#ripple_textarea {
	float:left;
}

#ripple_textarea textarea{
	border:solid 1px #cccccc;
}

#ripple_button {
	float:left;
	margin-left:5px;
	margin-top:15px;
}

#page_num {
	margin-top:10px;
	text-align:center;
}
